/*==========================================================
                        NORMALIZE
==========================================================*/
img {
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    display: inline-block;

    text-decoration: none;

    outline: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;

    color: #fff;
    outline: none;
}

button {
    outline: none;
}

body {
    font: 400 16px 'Roboto', sans-serif;
}

header {
    line-height: 70px;

    position: fixed;
    left: 0;

    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding: 10px 0;

    background: rgba(0, 0, 0, .8);
}

header:before,
header:after {
    line-height: 0;

    display: table;

    content: '';
}

header:after {
    clear: both;
}

header .logotipe-wrap {
    width: 100%;
    max-width: 300px;
    padding-top: 100px;

    text-align: center;
}

header .logotipe-wrap .logotipe {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    max-width: 70px;
    height: 70px;
    margin: 0 auto 10px;

    border-radius: 100%;
}

header .logotipe-wrap .logotipe img {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

header .logotipe-wrap .logotipe-name {
    line-height: 1.3;

    margin-bottom: 25px;
}

header .logotipe-wrap .logotipe-name p {
    text-transform: uppercase;

    color: #fff;
}

header .logotipe-wrap .logotipe-name span {
    font-size: 30px;
    font-weight: 700;

    display: block;

    width: 100%;

    text-transform: uppercase;
}

header nav {
    z-index: 2;
}

header nav .menu {
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;

    padding-left: 0;

    text-align: center;
    text-transform: uppercase;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header nav .menu li {
    line-height: 1;

    margin-bottom: 15px;
}

header nav .menu li:last-child {
    margin-bottom: 0;
}

header nav .menu li a {
    position: relative;

    margin-bottom: 2px;

    -webkit-transition: all .5s;
            transition: all .5s;

    color: #fff;
}

header nav .menu li a:after {
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 80%;
    height: 1px;

    content: '';
    -webkit-transition: all .4s;
            transition: all .4s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

header nav .menu li a:hover {
    text-decoration: none;

    color: #47b4dd;
}

header nav .menu li a:hover:after {
    -webkit-transform: translateX(0);
            transform: translateX(0);

    background: #47b4dd;
}

header .hamburger {
    display: none;
}

.footer {
    padding: 100px 0 50px;

    color: #a3a3a3;
    background: #eee;
    /* Firefox 19+ */
    /* Firefox 18- */
}

.footer .flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer .title-section {
    text-align: left;

    color: #333;
}

.footer ul {
    padding-left: 0;

    text-transform: uppercase;
}

.footer ul a {
    text-transform: none;

    color: #47b4dd;
}

.footer .right-line {
    border-right: 1px solid  #a3a3a3;
}

.footer-form {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.footer-form .form-control {
    height: 40px;

    border-radius: 0;
}

.footer-form .btn-submit {
    width: 100%;
    height: 40px;

    text-transform: uppercase;

    border: 1px solid #47b4dd;
    border-radius: 0;
    background: transparent;
}

.footer ::-webkit-input-placeholder {
    text-transform: uppercase;
}

.footer ::-moz-placeholder {
    text-transform: uppercase;
}

.footer :-moz-placeholder {
    text-transform: uppercase;
}

.footer :-ms-input-placeholder {
    text-transform: uppercase;
}

.title-section {
    font-size: 45px;
    font-weight: 700;

    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;
}

.title-section span {
    color: #47b4dd;
}

.flex-container {
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn-submit {
    font-weight: 700;

    width: 100%;
    max-width: 360px;
    height: 40px;

    -webkit-transition: all .9s;
            transition: all .9s;
    text-transform: uppercase;

    color: #47b4dd;
    border: 1px solid #47b4dd;
    border-radius: 0;
    background: transparent;
    box-shadow: inset 0 0 0 0 #47b4dd;
}

.btn-submit:hover {
    color: #fff;
    box-shadow: inset 360px 0 0 0 #47b4dd;
}

.first {
    position: relative;
    z-index: -1;

    height: 100vh;

    background: url('/images/header/header.jpg') no-repeat center;
    background-size: cover;
}

.first:before {
    position: absolute;
    z-index: 0;
    top: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .5);
}

.exemple {
    height: 100vh;
    padding: 100px 0;
}

.exemple .wrap-images {
    width: 100%;
    max-width: 100%;
    height: 260px;
    background-color: #000;
}

.exemple .wrap-images img {

    width: 100%;
    height: 100%;

    -webkit-transition: all .3s;
            transition: all .3s;
}

.exemple .wrap-images p {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.exemple .wrap-images:hover p {
    z-index: 5;

    display: block;

    text-transform: uppercase;

    color: #fff;
}

.exemple .wrap-images:hover:after {
    position: absolute;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .7);
}

.subscribe {
    padding: 50px 0 50px;

    background: #eee;
    /* Firefox 19+ */
    /* Firefox 18- */
}

.subscribe form {
    text-align: center;
}

.subscribe .form-control {
    height: 40px;

    border-radius: 0;
}

.subscribe .btn-submit {
    border: 1px solid #47b4dd;
    background: transparent;
}

.subscribe ::-webkit-input-placeholder {
    text-transform: uppercase;
}

.subscribe ::-moz-placeholder {
    text-transform: uppercase;
}

.subscribe :-moz-placeholder {
    text-transform: uppercase;
}

.subscribe :-ms-input-placeholder {
    text-transform: uppercase;
}

.plan {
    padding: 0 0 100px 0;
}

.plan .flex-container a {
    font-size: 22px;

    -webkit-transition: all .5s;
            transition: all .5s;
    text-transform: uppercase;

    color: #47b4dd;
}

.plan .flex-container a:hover .img-step {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}
