<section class="exemple">
    <div class="container">
        <div class="row">

          <div class="title-section">
              Примеры работ.
          </div>

            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger2.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger3.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger1.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger3.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <a href="#" class="wrap-images">
                        <img src="/images/main/tiger2.jpg" alt="" class="img">
                        <p>Какой то сайт</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
