<section class="plan">
    <div class="container">
        <div class="row">

        <div class="title-section">
            Этапы работ
        </div>

        <!--1 step-->
        <div class="flex-container">
            <div class="col-sm-6 media-right">
                <div class="row">
                    <img src="/images/main/step1.jpg" alt="" class="img-step">
                </div>
            </div>
            <div class="col-sm-6 media-left text-center">
                <a href="#">Предоставление макета и оговаривание сроков.</a>
            </div>
        </div>
        <!--2 step-->
        <div class="flex-container">
            <div class="col-sm-6 media-right text-center">
                <a href="#">Верстка макета.</a>
            </div>
            <div class="col-sm-6 media-left">
                <div class="row">
                    <img src="/images/main/step2.jpg" alt="" class="img-step">
                </div>
            </div>
        </div>
        <!--3 step-->
        <div class="flex-container">
            <div class="col-sm-6 media-right">
                <div class="row">
                    <img src="/images/main/step3.jpg" alt="" class="img-step">
                </div>
            </div>
            <div class="col-sm-6 media-left text-center">
                <a href="#">Сдача верстки</a>
            </div>
        </div>

        </div>
    </div>
</section>
