<section class="subscribe">
    <div class="container">
        <div class="row">

        <div class="title-section">
            Требуется <span>верстка сайта? </span>
        </div>

        <form action="#">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Имя" >
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="телефон">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="почта">
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-submit">Оставить заявку</button>
            </div>
        </form>


        </div>
    </div>
</section>
