<footer class="footer">
    <div class="container">
        <div class="row">

<!--           Right block-->
            <div class="col-sm-6 right-line">
                <div class="title-section">
                   Контакты
                </div>

                <p class="text-footer">Если вы заинтересованы в сотрудничестве, пожалуйста, азполните форму обратной связи или свяжитесь со мной любым удобным для Вас способом.</p>

                <div class="flex-container">
                    <ul class="mail">
                       <li>Электронная почта</li>
                        <li>
                            <a href="mailto:constantin09@yandex.ru">constantin09@yandex.ru</a>
                        </li>
                    </ul>
                    <ul class="skype">
                       <li>Skype</li>
                        <li>
                            <a href="skype:thedarkmoon4">thedarkmoon4</a>
                        </li>
                    </ul>
                </div>
            </div>


<!--        Left form    -->
            <div class="col-sm-6">
                <form action="#" class="footer-form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Имя" >
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="телефон">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="почта">
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit">Оставить заявку</button>
                </form>
            </div>
        </div>
    </div>
</footer>
