<header>
<!--logotipe-->

       <div class="logotipe-wrap">
          <a href="/index.html" class="logotipe">
             <img src="/images/header/logo.jpg" alt="Batrakov">
          </a>

            <div class="logotipe-name">
                <p>
                    <span>batrak-off</span> studio
                </p>
            </div>

       </div>

        <nav>
        <!--  Menu block  -->
            <ul class="menu">
                <li id="menu-list">
                    <a href="/index.html" class="active-link">Главная</a>
                </li>
                <li class="menu-list">
                    <a href="/conference.html">Конференция</a>
                </li>
                <li class="menu-list">
                    <a href="/contact.html">Контакты</a>
                </li>
            </ul>
        <!--  End  block  -->
        </nav>


        <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

</header>
