.subscribe {
    padding: 50px 0 50px;
    background: #eee;
//    width: 100%;
    form {
        text-align: center;
    }

    .form-control {

        height: 40px;
        border-radius: 0;
    }

    .btn-submit {
        background: transparent;
        border: 1px solid $btn-submit;
    }

    ::-webkit-input-placeholder {text-transform: uppercase;}
    ::-moz-placeholder          {text-transform: uppercase;}/* Firefox 19+ */
    :-moz-placeholder           {text-transform: uppercase;}/* Firefox 18- */
    :-ms-input-placeholder      {text-transform: uppercase;}

}
