@media (max-width:767px) {
//    Header

    header nav {
        position: absolute;
        right: -290px;
        max-width: 290px;
        width: 100%;
        top: 121px;
        display: none;
        transition: all .3s;
        background: $white;

        .menu {
            display: block;
            text-align: center;
            width: 100%;

        }
    }

    .nav-active {
        display: block;
        right: 0;
    }

    header .hamburger {
        float: right;
        display: block;
    }

    .modal-backdrop.in {
        z-index: -1;
    }
}
